@page "/counter"
@rendermode @(new InteractiveAutoRenderMode(prerender: true))
@inherits PageBase<CounterPageViewModel>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>This page is currently being rendered using: @(OperatingSystem.IsBrowser() ? "WASM" : "Server")</p>

<p>@ViewModel.State.Text</p>

<p role="status">Current count: @ViewModel.State.Count</p>

<button class="btn btn-primary" @onclick="ViewModel.IncrementCount">Click me</button>
