@page "/counter"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: true))
@inherits PageBase<CounterPageViewModel>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Current render mode: @RenderingEnvironment</p>

<p>@ViewModel.State?.Text</p>

<Counter ViewModel="ViewModel.Counter1ViewModel" />
<Counter ViewModel="ViewModel.Counter2ViewModel" />

<ComponentStateContainer ViewModel="ViewModel" />
